.jumbotron {
  padding-top: 10rem;
  background-color: #063000;
}
#passion {
  background-color: #063000;
}
section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
